@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Major+Mono+Display&display=swap');

* {
    color: #231b1b;
    font-family: 'Major Mono Display', 'IBM Plex Sans', sans-serif;
    text-transform: lowercase;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container-full {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-container {
    display: flex;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.box-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.025), 
                0 2px 4px rgba(0,0,0,0.025), 
                0 4px 8px rgba(0,0,0,0.025), 
                0 8px 16px rgba(0,0,0,0.025),
                0 16px 32px rgba(0,0,0,0.025), 
                0 32px 64px rgba(0,0,0,0.025);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    height: 9vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#header > h1 {
    font-family: 'Major Mono Display', sans-serif;
    text-transform: lowercase;
    color: #231b1b;
}

#play-area {
    background-color: white;
    padding: 3rem 1rem;
    border-radius: 9px;
    margin: auto;
}

#btn-container {
    padding: 2rem 0;
}

#btn-container > button {
    border: none;
    border-radius: 16px;
    padding: 15px 30px;
    font-size: 6rem;
    margin: 0 1.5rem;
    transition: transform .3s ease-in-out, background-color .5s, border-radius .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.15);
    aspect-ratio: 1 / 1;
}

#btn-container > button:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 50%;
}

#result-container {
    display: flex;
    align-items: center;
    height: 58px;
}

#info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.info-box {
    padding: 0.75rem 1.5rem;
    border-radius: 16px;
    background-color: #231b1b;
    z-index: 9;
    margin-top: -1.5rem;
    width: 140px;
}

.info-box > p {
    text-align: center;
    color: white;
}

.info-box:nth-child(1) {
    background-color: rgb(33, 170, 33);
}

.info-box:nth-child(3) {
    background-color: rgb(178, 12, 12);
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: auto;
}

#footer > p, #footer > p > a {
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    text-transform: none;
}

#win-loss-container {
    padding: 1.5rem 0;
}

#win-loss-p {
    font-size: 14px;
    height: 14px;
}

#win-loss-p > span {
    padding: 0.25rem 0.35rem;
    margin: 0 0.15rem;
    border-radius: 3px;
    aspect-ratio: 1 / 1;
}

.win {
    color: rgb(33, 170, 33);
    background-color: rgba(33, 170, 33, 0.25);
}

.loss {
    color: rgb(178, 12, 12);
    background-color: rgba(178, 12, 12, 0.25);
}

.draw {
    color: #231b1b;
    background-color: rgba(0, 0, 0, 0.15);
}